body {
  padding-top: 10px;
}

#error
{
    background-color: #ef5350;
    padding: 25px;
    border: 1px solid #f44336;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3em;
}